@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

/* BODY */

body {
    background: url(https://img4.goodfon.com/wallpaper/nbig/1/f8/8bit-8bit-grafika-les-retro-fon-pikseli-pxl.jpg);
    font-family: 'Press Start 2P', cursive;
    background-repeat: no-repeat;
    background-size: cover;
    /* overflow: hidden; */
}

#start {
    text-align: center;
}

/* HEADER, MAIN SECTION */

#start > h1{
    color:white;
    font-size: 50px;
    vertical-align: bottom;
}

#start > p {
    color: 15px;
    line-height: 2;
}

#title {
    animation-name: flash;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

/* BUTTONS */

button {
    outline:none;
    border:none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    color: black;
    font-size: 14px;
}

button:active {
    color: blue;
    font-size: 14px;
}

button:disabled {
    color: rgb(63, 63, 63);
    font-size: 14px;
}

/* DISPLAY BOX */

.infoBox {
    display:flex;
    min-height: 70vh;
    flex-direction: row;
}

.infoBox > .box > h2, h3 {
    margin: 20px;
    font-size: 20px;
}

.infoBox > .box > h3, #fight {
    color:red;
    font-size: 15px;
    font-family: '8BITWONDERNominal';
}

.infoBox > .box > button {
    display: flex;
    margin: 15px;
    flex-direction: column;
    align-content: space-around;
}

.box {
    position:relative;
    background: rgba(255,255,255,0.5);
    width: 45%;
    height: 520px;
    margin: 3%;
    margin-top: 2%;
    border: 3px solid black;
}

span {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
}

img {
    display: block;
    width: 150px;
    height: 150px;
    position:absolute; 
    bottom:0;
    padding: 10px;    
    -webkit-filter: drop-shadow(12px 12px 5px rgba(0, 0, 0, 0.5));
    filter: drop-shadow(12px 12px 5px rgba(0, 0, 0, 0.5));
}

/* Move Log */

.log {
    overflow: scroll;
    overflow-x: hidden;
    background: rgba(170, 170, 170, 0.87);
}

#description, #description1, #description2 {
    margin: 20px;
    font-size: 12px;
    line-height: 2;
    flex-wrap:wrap;
    overflow: auto;
}

u {
    color: white;
}

/* Animation */

@keyframes flash {
    0% {color: black;}
    50% {color: white;}
    100% {color: black;}

}