@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

body {
    background: url(https://img4.goodfon.com/wallpaper/nbig/1/f8/8bit-8bit-grafika-les-retro-fon-pikseli-pxl.jpg);
    font-family: 'Press Start 2P', cursive;
}

#start {
    text-align: center;
}

#start > h1{
    color:white;
    font-size: 50px;
}

button {
    outline:none;
    border:none;
    text-decoration: none;
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 14px;
    font-family: 'Press Start 2P', cursive;
}

button:hover {
    color: black;
    font-size: 14px;
}

button:active {
    color: blue;
    font-size: 14px;
}

#start > p {
    color: 15px;
    line-height: 2;
}

#infoBox {
    background: rgba(255,255,255,0.5);
    height: 70vh;
    display:none;
}