button {
    color:white;
    background-color: red;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    outline: none;
    box-shadow: 2px 2px rgba(102, 4, 4, 0.699);
    border: 2px solid rgb(148, 25, 25);
}

button:hover {
    background-color: rgb(133, 41, 41);
}

button:active {
    background-color: rgb(85, 27, 27);
}